<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <figure>
     <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <br>
    <p>
      <a href="/movies">movies</a> | 
      <a href="/movies/new">new</a> | 
      <a href="/movies/recommended">recomendadas</a> | 
      <a href="/genres">generos</a>
    </p>
    <br>
    
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

  </body>
</html>
